{% extends "Layout.html" %}

{% set title = "Шинэчлэлүүд" %}

{% block content %}
  <h1 class="table-title">Сүүлийн шинэчлэлүүд</h1>
  <div class="table-container">
    <table>
      <tr>
        <th style="width:5em">#</th>
        <th style=""></th>
        <th style="width:12em">Орчуулсан</th>
        <th style="width:10em">Хянагч</th>
        <th style="width:10em">Огноо, Цаг</th>
      </tr>
      {% for s in reversed(all_history) %}
        <tr {{- loop.cycle(' class="dark"', "")|safe }}>
          <td style="text-align:center" class="{{ s[0] }}">{{ s[1] }}</td>
          <td>{{ s[4] }}</td>
          <td style="text-align:center">{{ s[3] }}</td>
          <td style="text-align:center;color:#777">{{ s[2] }}</td>
          <td style="text-align:center;color:#777">{{ s[5] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
