@import 'nib'; normalize-css()

a
  color #0000cc
  text-decoration none

  &:hover
    text-decoration underline

body
  font-size 87.5%
  font-family Verdana, Arial, sans-serif

code
  color #8b2e2e

blockquote
  border-left 3px solid #ccc
  padding 10px 10px 10px 20px
  margin 0
  background #fafafa

#container
  margin 0 auto
  width 1200px
// endfold

// .w01 .w02 ... .w98 .w99 { width: i * 10px }
  for i in range(1, 9)
    .w0{i} { width: i * 10px }

  for i in range(10, 99)
    .w{i} { width: i * 10px }
// endfold
.left        { float: left        !important }
.right       { float: right       !important }
.no-float    { float: none        !important }
.text-left   { text-align: left   !important }
.text-center { text-align: center !important }
.text-right  { text-align: right  !important }
.text-normal { font-weight: normal           }
.hidden      { display: none      !important }
.centered    { margin: 0 auto     !important }
.border-left-none  { border-left:  none !important }
.border-right-none { border-right: none !important }
.hidden            { display: none }
// endfold

.button
  color #fff
  background-color #5cb85c
  border-color #4cae4c
  display inline-block
  font-size 14px
  padding 6px 12px
  border-radius 4px
  cursor pointer
  vertical-align middle
  white-space nowrap
  text-align center
  user-select none
  text-decoration none

  &:hover
    background-color #47a447
    border-color #398439

.external
  background url("../images/external.png") no-repeat 100% 1px
  padding-right 18px
// endfold

#header
  clearfix()
  height 5em
  margin 14px 1em 0

#header .logo
  background url("../images/codeforces-logo.png") no-repeat
  position relative
  display block
  float left
  width 300px
  height 65px
  text-decoration none
  font-weight bold
  font-size 11px

  &:before
    content "Монгол"
    position absolute
    top 45px
    display inline-block
    width 213px
    text-align right
    color #333

  &:after
    content "орчуулга"
    position absolute
    top 45px
    left 216px
    display inline-block
    color #3b5998

#header .lang
  float right

  a
    display block
    float left
    margin-left 5px
    width 24px
    height 24px
    font-size 0

  a.mn
    background url("../images/flag-mn.png")

  a.en
    background url("../images/flag-en.png")

  a.ru
    background url("../images/flag-ru.png")
// endfold

#menu
  border 1px solid #b9b9b9
  position relative
  height 42px
  margin 0 1em
  border-radius 7px
  padding 0 1.5em

#menu li
  font-family "Ubuntu Condensed", sans-serif
  font-size 16px
  list-style none
  display block
  float left
  margin 11px 24px 0 0
  text-transform uppercase
  line-height 22px

  &.current
    border-bottom 3px solid #3b5998

  // suggestion menu
  &:last-child
    float right
    margin-right 0

#menu li a
  color #000
  text-decoration none
// endfold

#sidebar
  float right
  width 280px
  margin 2em 1em 1em 0

#sidebar .box
  border 1px solid #b9b9b9
  position relative
  border-radius 7px 7px 0 0
  margin-bottom 1.5em

#sidebar .box > h2
  padding 0 0 0.3em 0.5em
  border-bottom 1px solid #b9b9b9
  color #3b5998
  font-size 15px
  font-weight bold
  margin 3px 0
  position relative
  height 18px
  &:before
    content "→"
    font-weight normal
    margin-right 5px

#sidebar .box > div
  padding 10px 15px 15px

#sidebar .box table
  width 100%
  margin-top -3px

#sidebar .box table.no-title
  margin-top 0

#sidebar .box table th
  border 1px solid #b9b9b9
  border-top 0
  border-right 0

#sidebar .box table tr th:first-child
  border-left 0

#sidebar .box table td
  border 1px solid #b9b9b9
  border-right none
  border-top none
  padding 4px
  text-align center
  font-size 0.9em
  font-size 12px

#sidebar .box table th tr:nth-child(1)
  width 20px

#sidebar .box table th tr:nth-child(2)
  width 140px

#sidebar .box table tr:last-child td
  border-bottom 0

#sidebar .box table tr td:first-child
  border-left 0

#sidebar .box .text
  font-size 13px
  color #555
// endfold

#content
  margin 2em 320px 1em 1em
  color #222
  clearfix()

#content h1
  color #3b5998
  font-size 24px
  font-weight normal

#content .post
  border-left 4px solid #b9b9b9
  margin 1em 0
  padding-left 1em
  line-height 20px
  font-size 13px

#content .post-title
  margin-top 0
// endfold

.warning
  color #ff0202
  font-weight bold

.success
  color #00b600
  font-weight bold
// endfold

#content .table-title
  padding 4px 0 0 6px
  font-size 1em
  font-weight normal
  margin 0
  border-radius 7px 7px 0 0
  background #e1e1e1
  color #222

#content .table-container
  background #e1e1e1
  border 3px solid #e1e1e1
  border-radius 0 0 5px 5px

#content .table-container table
  background #fff
  width 100%
  border-radius 5px 5px 3px 3px

#content .table-container table tr.dark
  td
    background-color #f8f8f8

#content .table-container table tr th
  border-right 1px solid #e1e1e1
  padding 0.5em
  font-size 0.9em
  text-align center
  overflow hidden

#content .table-container table tr th[data-sort]
  cursor pointer
  user-select none

  &:after
    content "\0020"
    width 10px
    height 16px
    float right

  &.sorting-asc:after
    content " ↑"
  &.sorting-desc:after
    content " ↓"

#content .table-container table tr td
  @extends #content .table-container table tr th

  border-top 1px solid #e1e1e1
  text-align left
// endfold

#content .pagination ul
  clearfix()
  margin 1em 0
  padding 0

#content .pagination ul li
  display block
  float left
  margin-right 7px

#content .pagination ul li a
  padding 4px
  color #333
  text-decoration none
  font-size 14px
  display inline-block
  height 17px
  line-height 17px
  border 1px solid transparent

#content .pagination ul li.active a
  border 1px solid #ddd
  background-color #eee
  color #000

#content .pagination ul li.inactive
  font-size 28px
  height 27px
  line-height 22px
  color #ccc

#content .pagination ul li.plain
  line-height 27px
  height 27px

#content .pagination ul li a.arrow
  font-size 28px
  line-height 10px
// endfold

.problem-statement
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif

.problem-statement .credit
  text-align right
  font-style italic

.problem-statement .sample
  border 1px solid #888
  border-bottom 0
  margin-bottom 1em

.problem-statement p
  line-height 1.5

.problem-statement h1
  font-size 150%
  text-align center
  margin 0
  margin-bottom 0.5em
  font-weight normal
  line-height 21px

.problem-statement h2  // input output
  font-size 16px
  margin 1.5em 0 -0.5em

.problem-statement h3
  color #333
  font-size 13px
  font-weight normal
  line-height 21px
  margin 0
  text-align center

  a
    color #a0a
    text-decoration none
  a:hover
    text-decoration underline

  strong
    font-weight normal
  strong:after
    content ":"

.problem-statement h4  // sample tests
  font-size 14px
  margin 1em 0 0.5em

.problem-statement h5
  margin 0
  padding 2px 6px
  line-height 21px
  font-size 13px
  border-top 0
  border-bottom 0

.problem-statement li
  line-height 1.5

.problem-statement pre
  color #800
  line-height 1.25em
  padding 2px 6px
  margin 0
  background-color #efefef
  border-top 1px solid #888
  border-bottom 1px solid #888
// endfold

.rating-up
  color #008000
  font-weight 600
  text-decoration none

.rating-down
  color gray
  font-weight 600
  text-decoration none
// endfold

.recent
  background #e5ffe6
// endfold

.user-red
  color #f00 !important
  font-weight bold
  text-decoration none

.user-orange
  color #ff8c00 !important
  font-weight bold
  text-decoration none

.user-blue
  color #00f !important
  font-weight bold
  text-decoration none

.user-green
  color #008000 !important
  font-weight bold
  text-decoration none

.user-gray
  color #808080 !important
  font-weight bold
  text-decoration none
// endfold

.cf-user-red
  @extends .user-red

.cf-user-orange
  @extends .user-orange

.cf-user-purple
  color #a0a !important
  font-weight bold
  text-decoration none

.cf-user-blue
  @extends .user-blue

.cf-user-green
  @extends .user-green

.cf-user-gray
  @extends .user-gray
// endfold

.tc-user-red
  @extends .user-red

.tc-user-yellow
  color #ddcc00 !important
  font-weight bold
  text-decoration none

.tc-user-blue
  @extends .user-blue

.tc-user-green
  @extends .user-green

.tc-user-gray
  @extends .user-gray
// endfold

#footer
  margin-top 1em
  padding 1em 0
  border-top 1px solid #ccc
  text-align center
  font-size 1em
  clear both

#footer p
  color #777
  font-size 12px

#footer p a
  color #777
  font-weight bold
// endfold
