{% extends "Layout.html" %}

{% set title = "(Орчуулагдаагүй) " ~ problem.title %}
{% set menu = "contests" %}

{% block content %}
  <div class="problem-statement">
    <h1>{{ letter }}. {{ problem.title }}</h1>
    <h3 style="font-weight:bold">
      Энэ бодлогыг хараахан орчуулаагүй байна.
      <br>
      <a href="{{ problem.link }}/edit" style="color:#a0a">энд дарж орчуулна уу</a>
    </h3>
    <h3><strong>хугацааны хязгаарлалт</strong> {{ problem.meta.time.replace("seconds", "секунд").replace("second", "секунд") }}</h3>
    <h3><strong>санах ойн хязгаарлалт</strong> {{ problem.meta.memory.replace("megabytes", "мегабайт") }}</h3>
    <h3><strong>оролт</strong> {{ problem.meta.input.replace("standard input", "стандарт оролт") }}</h3>
    <h3><strong>гаралт</strong> {{ problem.meta.output.replace("standard output", "стандарт гаралт") }}</h3>

    <div class="mathjax">{{ markdown(problem.content)|safe }}</div>

    <h4>Жишээ тэстүүд</h4>
    {% for sample in problem.meta.tests %}
      <div class="sample">
        <h5>Оролт</h5>
        <pre>{{ sample[0] }}</pre>
        <h5>Гаралт</h5>
        <pre>{{ sample[1] }}</pre>
      </div>
    {% endfor %}

    {% if problem.note %}
      <h2>Тэмдэглэл</h2>
      <div class="mathjax">{{ markdown(problem.note)|safe }}</div>
    {% endif %}
  </div>
{% endblock %}
