{% extends "Layout.html" %}

{% set title = "Тэмцээнүүд" %}
{% set menu = "contests" %}

{% block content %}
  <h1 class="table-title">Тэмцээнүүд ({{ count }})</h1>
  <div class="table-container">
    <table>
      <tr>
        <th>Нэр</th>
        <th style="width:5em">Орчуулагдсан</th>
        <th style="width:9em"></th>
      </tr>
      {% for c in contests %}
        <tr {{- loop.cycle(' class="dark"', "")|safe }}>
          <td style="text-align:center"><a href="/contest/{{ c.id }}">{{ c.name.replace("<br>", " ") }}</a></td>
          <td></td>
          {# <td style="text-align:center{{- ";background:#e6ffdb"|safe if c[1][1] == c[1][2] }}">{{ c[1][1] }} / {{ c[1][2] }}</td> #}
          <td style="text-align:center"><a href="http://codeforces.com/contest/{{ c.id }}/standings/friends/true" class="external">Эцсийн дүн</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="pagination">
    <ul>
      {% for p in range(1, int(count / 100) + 2) %}
        <li {{- ' class="active"'|safe if int(page) == p }}><a href="/contests/page/{{ p }}">{{ p }}</a></li>{% endfor %}
    </ul>
  </div>
{% endblock %}
