{% extends "Layout.html" %}

{% set title = "Тэмцээн" %}
{% set menu = "contests" %}


{% block content %}
  <h1 class="table-title">Бодлогууд</h1>
  <div class="table-container">
    <table>
      <tr>
        <th style="width:3em">#</th>
        <th class="border-right-none">Нэр</th>
        <th style="width:15em"></th>
      </tr>
      {% for letter, p in contest.problems_object %}
        <tr {{- loop.cycle(' class="dark"', "")|safe }}>
          {% if p.credits %}
            {# translated #}
            <td class="text-center"><a href="/contest/{{ contest.id }}/problem/{{ letter }}">{{ letter }}</a></td>
            <td class="border-right-none"><a href="/contest/{{ contest.id }}/problem/{{ letter }}">{{ p.title }}</a></td>
            <td style="text-align:right; color:#666; font-size:11px">{{ p.credits }}</td>
          {% else %}
            {# not yet translated #}
            <td class="text-center"><a href="/contest/{{ contest.id }}/problem/{{ letter }}">{{ letter }}</a></td>
            <td class="border-right-none">{{ p.title }}</td>
            <td style="text-align:right; color:#666; font-size:11px"><a href="{{ p.link }}/edit">Орчуулах</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}


{% block sidebar %}
  <div class="box">
    <div class="text-center">
      <span style="color:#000; font-weight:bold">{{ contest.name.replace("(", "<br>(")|safe }}</span>
      <br>
      <br>
      <a href="http://codeforces.com/contest/{{ id }}" class="external">Codeforces.com дээрх хаяг</a>
    </div>
  </div>
{% endblock %}
