{% extends "Layout.html" %}

{% set title = "Codeforces-г орчуулцгаая!" %}
{% set menu = "home" %}


{% block content %}
  <h1 style="margin-top:0">Codeforces-г орчуулцгаая!</h1>
  <div class="post">
    <p>
      <strong>Энэ юун веб сайт вэ? Codeforces гэж юу юм бэ?</strong><br>

      Програмчлалын бодлого бодох, алгоритмын уралдаан тэмцээнд орох дуртай
      хүмүүст зориулсан. Харин <a href="http://codeforces.com/" target="_blank">Codeforces.com</a>
      бол орчин үеийн хамгийн шилдэг, хурдацтай хөгжиж байгаа програмчлалын
      тэмцээний сайт. Бид энэ сайтын бодлогуудыг Монгол хэл рүү орчуулж,
      codeforces сайтыг эх хэлээрээ ашиглах боломжийг бүрдүүлж байна.
    </p>

    <p>
      <strong>Яагаад энэ сайтыг орчуулах болсон юм бэ?</strong><br>

      Маш олон алгоритм сонирхогчид хэлний бэрхшээл тулгарч байхыг бид үзсэн. Ялангуяа анхлан суралцагчид
      болон дунд сургуулийн сурагчдын хувьд хэлний бэрхшээлээс болоод маш олон сонирхолтой бодлогуудыг
      бодох боломж гардаггүй бөгөөд эх хэл дээрээ олдсон цөөхөн хэдхэн бодлогын хүрээнд л эргэлддэг.
      Энэ нь магадгүй алгоритмын бодлого бодох зугаатай ажлаас уйдах, эсвэл бодсон хэдхэн бодлогынхоо
      хүрээнд ур чадвараа явцууруулах зэрэг харамсалтай үр дүнд хүргэх тал бий.

      <br> <br>

      Мөн багш дасгалжуулагчдын хувьд бэлтгэл хийлгэх хангалттай материалын сонголт олддоггүйгээс багш
      хүн шавьдаа бодуулах бодлогоо өөрөө хайж орчуулах, тест бэлдэх зэрэгт маш их цаг зарцуулдаг.
      Тэгээд бэлдсэн тестүүдийн хувьд тэр бүр тийм ч чанартай сайн байж чаддаггүй.

      Харин codeforces сайтын хувьд дэлхийн шилдгүүд оролцсон тэмцээн тогтмол болдог ба тест болон бодлогын чанарын
      хувьд асуудалгүй байдаг учраас орчуулахаар сонгосон билээ.
    </p>

    <p>
      <strong>Энэ орчуулгууд Англи хэл мэддэггүй (эсвэл сайн биш) хүмүүст зориулагдсан уу?</strong><br>

      Зөвхөн тийм биш. Хэдийгээр Англи хэл дээр уншаад бодлогуудыг ойлгодог байлаа ч эх хэл дээр байгаа агуулга гэдэг бол маш чухал юм.
      Бэлтгэлийн үед эх хэл дээрээ бодлого бодож бэлтгэх нь асуудлыг арай илүү сайн ойлгох, арай илүү олон бодлого бодож, арай илүү
      их бэлтгэл хийх боломж олгодог. Энэ нь бартаат замаар гэр лүүгээ юм зөөх, хурдны замаар ирж очин зөөхтэй адил ялгааг үзүүлдэг.

      <br> <br>

      Алгоритмын бодлого бодох нь програмчлалын мэргэжлийн ажил гэхээсээ илүүтэйгээр ер бусын зугаатай хөдөлмөр,
      өөрийгөө хөгжүүлж, сорьж болох сонирхолтой оюуны спорт билээ. Энэ төрлийн тэмцээний нэр хүнд, ач холбогдол жил бүр
      нэмэгдсээр байгаа бөгөөд дэлхийн том том мэдээллийн технологийн компаниуд (Google, Facebook, Yandex) жил бүр
      өөрсдийнхөө нэр дээр алгоритмын тэмцээн зохион байгуулдаг болсон.

      Тэгвэл яагаад Монголд энэ төрлийн тоглоомыг сонирхогч хүн олон байж болохгүй гэж? Яагаад Монголоос дараагийн <span class="tc-red">Petr</span>,
      <span class="tc-red">Tourist</span> төрж болохгүй гэж?
    </p>

    <p>
      <strong>Та нарт ингэхэд Codeforces-г орчуулах эрх байгаа юу?</strong><br>

      Codeforces сайтаас бодлого болон бусад материалуудыг тодорхой нөхцлүүдийг хангасан тохиолдолд түгээх, ашиглах
      эрхийг өгсөн байдаг. (<a href="http://codeforces.com/blog/entry/967">Codeforces-н бодлогуудыг нийтлэх тухай</a>)
      Бидний орчуулгууд энэ бүх нөхцлийг хангаж байгаа учраас орчуулах нь ямар ч оюуны өмчийн болон бусад эрхзүйн асуудалгүй юм.
    </p>

    <p>
      <strong>Бодлогуудыг орчуулаад л болоо юу? Өөр юм энэ сайтдаа нэмэх үү?</strong><br>

      Хэлж мэдэхгүй байна. Яг одоо бол бид бодлогуудыг бүрэн орчуулж дуусгахыг л чухалчилж байна. Хэрвээ холбоо барих юм уу энэ талаар ярилцахыг хүсвэл
      facebook бүлгэмд нэгдэнэ үү: <a href="https://www.facebook.com/groups/codeforces.mn/">https://www.facebook.com/groups/codeforces.mn/</a>
    </p>
  </div>
{% endblock %}
