{%- from "Macros.html" import user, cf_user, cf_rating, tc_user, tc_rating -%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }} · Codeforces.mn</title>
  <link type="text/plain" rel="author" href="http://www.codeforces.mn/humans.txt">
  <meta name="description" content="{{ description if description else "Codeforces-н бодлогууд Монгол хэлээр" }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/app.styl.css">
  <link rel="shortcut icon" href="/favicon.ico">
  {{ head }}
  <meta property="og:title" content="{{ title }} · Codeforces.mn">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://{{ request.url }}">
  <meta property="og:image" content="http://www.codeforces.mn/images/codeforces-logo.png">
</head>
<body>
<div id="container" class="no-mathjax">
  <div id="header">
    <a href="/" class="logo"></a>

    <div class="lang">
      <a class="mn" href="http://codeforces.mn">Монгол хэлээр</a>
      <a class="en" href="http://codeforces.com">In English</a>
      <a class="ru" href="http://codeforces.ru">По-Русски</a>
    </div>
  </div>

  <ul id="menu">
    <li {{- ' class="current"'|safe if menu == "home"       }}><a href="/">Нүүр</a></li>
    <li {{- ' class="current"'|safe if menu == "contests"   }}><a href="/contests">Тэмцээнүүд</a></li>
    <li {{- ' class="current"'|safe if menu == "problemset" }}><a href="/problemset">Бодлогууд</a></li>
    <li {{- ' class="current"'|safe if menu == "ratings"    }}><a href="/ratings">Чансаа</a></li>
    <li {{- ' class="current"'|safe if menu == "suggestion" }} style="float:right; margin-right:0"><a href="/suggestion">Орчуулгын саналууд ({{ suggestion_count }})</a></li>
  </ul>

  {% if sidebar != "no" %}
    <div id="sidebar">
      {% block sidebar %} {% endblock %}
      <div class="box">
        <h2>Plugin суулгана уу</h2>

        <div style="font-size:13px; color:#555">
          Та бодлогуудыг орчуулагдсанаар нь <a href="http://codeforces.com">Codeforces.com</a>
          дээрээс ч гэсэн уншиж болох ба ингэхийн тулд Chrome хөтчид зориулсан
          нэмэлтийг суулгаж ашиглана уу.
          <br>
          <br>
          <div>
            <a href="https://chrome.google.com/webstore/detail/codeforces-mongolia/fghdlncknpkheekfjgdlnahjpomhbpbj" class="button">Суулгах</a>
          </div>
        </div>
      </div>

      <div class="box">
        <h2>Шилдэг орчуулагчид</h2>
        <table>
          <tr>
            <th style="width:20px">#</th>
            <th style="width:140px">Нэр</th>
            <th style="font-weight:normal; font-size:13px">{{ count_done }}/{{ count_all }}</th>
          </tr>
          {% for handle, point in top %}
          <tr {{- ' class="hidden"'|safe if loop.index > 10 }}>
            <td>{{ loop.index }}</td>
            <td>{{ user(handle, point)|safe }}</td>
            <td>{{ point }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td style="border-left:0"><a href="javascript:;" class="js-more">бүгд &rarr;</a></td>
          </tr>
        </table>
      </div>

      <div class="box">
        <h2>Codeforces чансаа</h2>
        <table>
          <tr>
            <th style="width:20px">#</th>
            <th style="width:140px">Нэр</th>
            <th colspan="2">Чансаа</th>
          </tr>
          {% for u in codeforces %}
            {% set cls = "hidden" if loop.index > 10 else ""  %}
            {% set cls = cls ~ " recent" if u.recent else cls %}
            <tr {{- (' class="%s"' % cls)|safe if cls.strip() else ""  }}>
              <td>{{ loop.index }}</td>
              <td>{{ cf_user(u.handle, u.rating)|safe }}</td>
              <td style="text-align:right; width:35px">{{ u.rating }}</td>
              <td style="border-left:0; text-align:left">{{ cf_rating(u.change, u.contest_id) }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td colspan="2" style="border-left:0"><a href="javascript:;" class="js-more">бүгд &rarr;</a></td>
          </tr>
        </table>
      </div>

      <div class="box">
        <h2>Topcoder чансаа</h2>
        <table>
          <tr>
            <th style="width:20px">#</th>
            <th style="width:140px">Нэр</th>
            <th colspan="2">Чансаа</th>
          </tr>
          {% for u in topcoder %}
            {% set cls = "hidden" if loop.index > 10 else ""  %}
            {% set cls = cls ~ " recent" if u.recent else cls %}
            <tr {{- (' class="%s"' % cls)|safe if cls.strip() else ""  }}>
              <td>{{ loop.index }}</td>
              <td>{{ tc_user(u.handle, u.rating, u.id)|safe }}</td>
              <td style="text-align:right; width:35px">{{ u.rating }}</td>
              <td style="border-left:0; text-align:left">{{ tc_rating(u.change, u.contest_id, u.id) }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td colspan="2" style="border-left:0"><a href="javascript:;" class="js-more">бүгд &rarr;</a></td>
          </tr>
        </table>
      </div>
    </div>
  {% endif %}

  <div id="content" {{- ' style="margin-right:1em"'|safe if sidebar == "no" else "" }}>
    {% block content %} {% endblock %}
  </div>

  <div id="footer">
    <div>
      <a href="http://www.codeforces.mn/">Codeforces.mn</a> (c) Монгол орчуулгын баг
    </div>
    <p>
      This site contain translated copy of codeforces.com's <a href="http://codeforces.com/blog/entry/967">problems</a>.
      <br>
      Original <a href="http://codeforces.com">codeforces.com</a> is creature of Mike Mirzayanov
      <br><br>
      PS: Thank you Mike Mirzayanov for great platform.
    </p>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <script>
    $(function() {
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [["$", "$"]],
          displayMath: [["$$", "$$"]],
          processClass: "mathjax",
          ignoreClass: "no-mathjax"
        },
        showMathMenu: false
      });

      $(".js-more").on("click", function() {
        $(this).closest("table").find("tr.hidden").removeClass("hidden");
        $(this).closest("tr").fadeOut().remove();
      });
    });
  </script>
  {% block bottom %} {% endblock %}
</div>
</body>
</html>
