{%- from "Macros.html" import user, cf_user, cf_rating, tc_user, tc_rating, contest_time -%}
<!DOCTYPE html>
<html lang="mn">
<head>
  <meta charset="utf-8">
  <title>{{ title }} · Codeforces.mn</title>
  <meta name="description" content="{{ description if description else "Програмчлал, мэдээлэлзүй, алгоритмын бодлогууд. Олимпиадад бэлтгэгчдэд тусламж. Codeforces.com сайтын Монгол орчуулга" }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed&amp;subset=cyrillic-ext,cyrillic">
  <link rel="stylesheet" href="/static/app.css?4">
  <link rel="shortcut icon" href="/favicon.ico">
  {{ head }}
  <meta name="google-site-verification" content="tJEnNpw90aAlRgukFlyCTGZtXdjxVuGJmh-vk7p2g3g">
  <meta property="fb:admins" content="1262756276">
  {% if not error %}
    <meta property="og:title" content="{{ title }} · Codeforces.mn">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:image" content="https://codeforces.mn/images/codeforces-logo.png">
    <meta name="DC.Title" content="{{ title }} · Codeforces.mn">
    <meta name="DC.Description" content="{{ description if description else "Програмчлал, мэдээлэлзүй, алгоритмын бодлогууд. Олимпиадад бэлтгэгчдэд тусламж. Codeforces.com сайтын Монгол орчуулга" }}">
    <meta name="DC.Language" content="mn">
  {% endif %}
</head>
<body>
<div id="container" class="no-mathjax">
  <div id="header">
    <a href="/" class="logo"></a>

    <div class="lang">
      <a rel="nofollow" class="mn" href="https://codeforces.mn">Монгол хэлээр</a>
      <a rel="nofollow" class="en" href="http://codeforces.com">In English</a>
      <a rel="nofollow" class="ru" href="http://codeforces.com/?locale=ru">По-Русски</a>
    </div>
  </div>

  <ul id="menu">
    <li {{- ' class="current"'|safe if menu == "home"       }}><a href="/">Нүүр</a></li>
    <li {{- ' class="current"'|safe if menu == "contests"   }}><a href="/contests">Тэмцээнүүд</a></li>
    <li {{- ' class="current"'|safe if menu == "problemset" }}><a href="/problemset">Бодлогууд</a></li>
    <li {{- ' class="current"'|safe if menu == "ratings"    }}><a href="/ratings">Чансаа</a></li>
    <li {{- ' class="current"'|safe if menu == "suggestion" }}><a href="/suggestion" rel="nofollow">Орчуулгын саналууд ({{ suggestion_count }})</a></li>
  </ul>

  {% if sidebar != "no" %}
    <div id="sidebar">
      {% block sidebar %} {% endblock %}
      #:1 Ойрд болох тэмцээнүүд
      <div class="box">
        <h1>Болох тэмцээнүүд</h1>
        <div class="text">
          <table>
            {% for contest in upcoming_contests %}
              {% if contest.start_at <= int(now.strftime("%s")) %}
                {% continue %}
              {% endif %}
              <tr>
                <td>
                  <a href="{{ contest.link }}" target="_blank" style="font-weight:bold">{{ contest.name }}</a>
                  <br>
                  {% set time = contest.start_at - int(now.strftime("%s"))) %}
                  {% if time > 2 * 86400 %}
                    {{ time // 86400 }} өдрийн дараа
                  {% else %}
                    {% set hour = "00" ~ time // 3600 %}
                    {% set minute = "00" ~ (time % 3600) // 60 %}
                    {% set seconds = "00" ~ time % 60 %}
                    <span class="js-countdown-timer" contestId="{{ contest_id }}">{{ hour[-2:] }}:{{ minute[-2:] }}:{{ seconds[-2:] }}</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>

      #:1 Plugin суулгана уу
      <div class="box">
        <h1>Plugin суулгана уу</h1>

        <div class="text">
          Та бодлогуудыг орчуулагдсанаар нь <a href="http://codeforces.com" rel="nofollow">Codeforces.com</a>
          дээрээс ч гэсэн уншиж болох ба ингэхийн тулд Chrome хөтчид зориулсан
          нэмэлтийг суулгаж ашиглана уу.
          <br>
          <br>
          <div>
            <a href="https://chrome.google.com/webstore/detail/codeforces-mongolia/fghdlncknpkheekfjgdlnahjpomhbpbj" class="button">Суулгах</a>
          </div>
        </div>
      </div>

      #:1 Шилдэг орчуулагчид
      <div class="box">
        <h1>Шилдэг орчуулагчид</h1>
        <table>
          <tr>
            <th class="w02">#</th>
            <th class="w14">Нэр</th>
            <th><span class="text-normal">{{ count_done }}/{{ count_all }}</span></th>
          </tr>
          {% for handle, point in top %}
          <tr {{- ' class="hidden"'|safe if loop.index > 10 }}>
            <td>{{ loop.index }}</td>
            <td>{{ user(handle, point)|safe }}</td>
            <td>{{ int(point) if point == int(point) else point }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td><a rel="nofollow" href="javascript:;" class="js-more">бүгд &rarr;</a></td>
          </tr>
        </table>
      </div>

      #:1 Codeforces чансаа
      <div class="box">
        <h1>Codeforces чансаа</h1>
        <table>
          <tr>
            <th class="w02">#</th>
            <th class="w14">Нэр</th>
            <th colspan="2">Чансаа</th>
          </tr>
          {% for u in codeforces if u.active %}
            {% set cls = "hidden" if loop.index > 10 else ""  %}
            {% set cls = cls ~ " recent" if u.recent else cls %}
            <tr {{- (' class="%s"' % cls)|safe if cls.strip() else ""  }}>
              <td>{{ loop.index }}</td>
              <td>{{ cf_user(u.handle, u.rating)|safe }}</td>
              <td class="text-right w04">{{ u.rating }}</td>
              <td class="text-left border-left-none">{{ cf_rating(u.change, u.contest_id) }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td colspan="2"><a rel="nofollow" href="javascript:;" class="js-more">бүгд &rarr;</a></td>
          </tr>
        </table>
      </div>

      #:1 Topcoder чансаа
      <div class="box">
        <h1>Topcoder чансаа</h1>
        <table>
          <tr>
            <th class="w02">#</th>
            <th class="w14">Нэр</th>
            <th colspan="2">Чансаа</th>
          </tr>
          {% for u in topcoder %}
            {% set cls = "hidden" if loop.index > 10 else ""  %}
            {% set cls = cls ~ " recent" if u.recent else cls %}
            <tr {{- (' class="%s"' % cls)|safe if cls.strip() else ""  }}>
              <td>{{ loop.index }}</td>
              <td>{{ tc_user(u.handle, u.rating, u.id)|safe }}</td>
              <td class="text-right w04">{{ u.rating }}</td>
              <td class="text-left border-left-none">{{ tc_rating(u.change, u.contest_id, u.id) }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"></td>
            <td colspan="2"><a rel="nofollow" href="javascript:;" class="js-more">бүгд &rarr;</a></td>
          </tr>
        </table>
      </div>

      #:1 Сэтгэгдлүүд
      <div class="box">
        <h1>Сэтгэгдлүүд</h1>
        <div style="font-size:12px">
          {% for c in comments[:10] %}
            <div>
              <a href="https://www.facebook.com/{{ c.from_id }}">{{ c.from_name }}</a> &rarr; <a href="https://codeforces.mn/problemset/problem/{{ c.code.replace("-", "/").strip() }}">{{ c.code.strip() }}</a>:
              <br>
              <span style="color:#666">{{ c.message.replace("\n", " ")[:255] }}</span>
              <br>
              <div style="text-align:right">
                <a href="https://codeforces.mn/problemset/problem/{{ c.code.replace("-", "/").strip() }}" style="color:#9197a3">{{ c.created_time|relative }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {# endfold #}
    </div>
  {% endif %}

  <div id="content" {{- ' style="margin-right:1em"'|safe if sidebar == "no" else "" }}>
    {% block content %} {% endblock %}
  </div>

  <div id="footer">
    #:1 footer
    <div>
      <a href="https://codeforces.mn/" rel="nofollow">Codeforces.mn</a> (c) Монгол орчуулгын баг
    </div>
    <p>
      This site contain translated copy of codeforces.com's <a href="http://codeforces.com/blog/entry/967">problems</a>.
      <br>
      Original <a href="http://codeforces.com" rel="nofollow">codeforces.com</a> is creature of Mike Mirzayanov
      <br><br>
      PS: Thank you Mike Mirzayanov for great platform.
    </p>
    {# endfold #}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <script src="/static/jquery.stupidtable.js"></script>
  #:1 script: countdown timer
  <script>
    $(function() {
      var timer = setInterval(function(){
        if ($(".js-countdown-timer").length == 0) {
          clearInterval(timer);
          return;
        }
        $(".js-countdown-timer").each(function() {
          var data = $(this).html().split(":");
          var hour = parseInt(data[0]);
          var minute = parseInt(data[1]);
          var seconds = parseInt(data[2]);

          var total_seconds = hour * 3600 + minute * 60 + seconds - 1;
          var new_hour = parseInt( total_seconds / 3600 );
          var new_minute = parseInt( (total_seconds % 3600) / 60 );
          var new_seconds = total_seconds % 60;
          var new_time = ("00" + new_hour).slice(-2)
             + ":" + ("00" + new_minute).slice(-2)
             + ":" + ("00" + new_seconds).slice(-2);

          if (new_time == "00:00:00") {
            $(this).removeClass("js-countdown-timer");
            $(this).html("Тэмцээн эхэлсэн");
          } else {
            $(this).html(new_time);
          }
        })
      }, 1000)
    })
  </script>
  #:1 script: mathjax
  <script>
    $(function() {
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [["$", "$"]],
          displayMath: [["$$", "$$"]],
          processClass: "mathjax",
          ignoreClass: "no-mathjax"
        },
        showMathMenu: false
      });

      $(".js-more").on("click", function() {
        $(this).closest("table").find("tr.hidden").removeClass("hidden");
        $(this).closest("tr").fadeOut().remove();
      });
      $(".sortable-table").stupidtable()
    });
  </script>
  #:1 script: analytics
  <script>
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");

    ga("create", "UA-4030321-7", "auto");
    ga("send", "pageview");
  </script>

  #:1 script: facebook comments
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/mn_MN/sdk.js#xfbml=1&version=v2.5&appId=888802607881779";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, "script", "facebook-jssdk"));
  </script>
  {# endfold #}
  {% block bottom %} {% endblock %}
</div>
</body>
</html>
