#:1 macro user(handle, point)
{% macro user(handle, point) %}
  {%   if point >= 100 %}
    {% set color = "red" %}
  {% elif point >=  75 %}
    {% set color = "orange" %}
  {% elif point >=  50 %}
    {% set color = "blue" %}
  {% elif point >=  25 %}
    {% set color = "green" %}
  {% else %}
    {% set color = "gray" %}
  {% endif %}
  <span class="user-{{ color }}">{{ handle }}</span>
{% endmacro %}


#:1 macro cf_user(handle, rating)
{%- macro cf_user(handle, rating) -%}
  {%   if rating >= 2400 %}
    {% set color = "red" %}
  {% elif rating >= 2200 %}
    {% set color = "orange" %}
  {% elif rating >= 1900 %}
    {% set color = "purple" %}
  {% elif rating >= 1600 %}
    {% set color = "blue" %}
  {% elif rating >= 1400 %}
    {% set color = "cyan" %}
  {% elif rating >= 1200 %}
    {% set color = "green" %}
  {% else %}
    {% set color = "gray" %}
  {% endif %}
  {% if handle|length <= 18 %}
    <a rel="nofollow" class="cf-user-{{ color }}" href="http://codeforces.com/profile/{{ handle }}">{{ handle }}</a>
  {% else %}
    <a rel="nofollow" title="{{ handle }}" class="cf-user-{{ color }}" href="http://codeforces.com/profile/{{ handle }}">{{ handle[:12] }}...</a>
  {% endif %}
{%- endmacro -%}


#:1 macro cf_rating(change, contest_id, align="left")
{%- macro cf_rating(change, contest_id, align="left") -%}
  {% set standing_url = "http://codeforces.com/contest/" ~ contest_id ~ "/standings/friends/true" %}

  {% if change >= 0 %}
    <a rel="nofollow" href="{{ standing_url }}" class="rating-up text-{{ align }}">+{{ change }}</a>
  {% else %}
    <a rel="nofollow" href="{{ standing_url }}" class="rating-down text-{{ align }}">{{ change }}</a>
  {% endif %}
{%- endmacro -%}


#:1 macro tc_user(handle, rating, coder_id)
{%- macro tc_user(handle, rating, coder_id) -%}
  {% set profile_url = "http://community.topcoder.com/tc?module=MemberProfile&amp;tab=alg&amp;cr=" ~ coder_id %}

  {%   if rating >= 2200 %}
    {% set color = "red" %}
  {% elif rating >= 1500 %}
    {% set color = "yellow" %}
  {% elif rating >= 1200 %}
    {% set color = "blue" %}
  {% elif rating >= 900 %}
    {% set color = "green" %}
  {% else %}
    {% set color = "gray" %}
  {% endif %}

  <a rel="nofollow" class="tc-user-{{ color }}" href="{{ profile_url }}">{{ handle }}</a>
{%- endmacro -%}


#:1 macro tc_rating(change, contest_id, coder_id, align="left")
{%- macro tc_rating(change, contest_id, coder_id, align="left") -%}
  {% set profile_url = "http://community.topcoder.com/stat?c=coder_room_stats&amp;cr=" ~ coder_id ~ "&amp;rd=" ~ contest_id %}

  {% if change >= 0 %}
    <a rel="nofollow" href="{{ profile_url }}" class="rating-up text-{{ align }}">+{{ change }}</a>
  {% else %}
    <a rel="nofollow" href="{{ profile_url }}" class="rating-down text-{{ align }}">{{ change }}</a>
  {% endif %}
{%- endmacro -%}

#:1 macro contest_time(time)
{%- macro contest_time(time) -%}
  {% set day = 60 * 60 * 24 %}
  {% if time > 2 * day %}
    {{ time // day }} өдрийн дараа
  {% else %}
    {% set hour = "00" ~ time // 3600 %}
    {% set minute = '00' ~ (time % 3600) // 60 %}
    {% set seconds = '00' ~ time % 60 %}
    <span class="countDownTimer" contestId='{{ contest_id }}'>{{ hour[-2:] }}:{{ minute[-2:] }}:{{ seconds[-2:] }}</span>
  {% endif %}
{%- endmacro -%}
