{% extends "Layout.html" %}

{% set title = problem.title %}
{% set menu = "problemset" %}


{% block content %}
  <div class="problem-statement">
    <h1>{{ problem.index }}. {{ problem.title }}</h1>
    <h3><strong>хугацааны хязгаарлалт</strong> {{ problem.meta.time_limit }} секунд</h3>
    <h3><strong>санах ойн хязгаарлалт</strong> {{ problem.meta.memory_limit }} мегабайт</h3>
    <h3><strong>оролт</strong> {{ problem.meta.input or "стандарт оролт" }}</h3>
    <h3><strong>гаралт</strong> {{ problem.meta.output or "стандарт гаралт" }}</h3>

    <div class="mathjax">{{ markdown(problem.content)|safe }}</div>

    <p class="credit">Орчуулсан: {{ problem.credits }}</p>

    <h4>Жишээ тэстүүд</h4>
    {% for sample in problem.meta.tests %}
      <div class="sample">
        <h5>Оролт</h5>
        <pre>{{ sample[0] }}</pre>
        <h5>Гаралт</h5>
        <pre>{{ sample[1] }}</pre>
      </div>
    {% endfor %}

    {% if problem.note %}
      <h2>Тэмдэглэл</h2>
      <div class="mathjax">{{ markdown(problem.note)|safe }}</div>
    {% endif %}

    <div class="text-right">
      <a href="{{ problem.link }}/edit" style="color:#999; font-size:12px; text-decoration:none">Орчуулгыг засах?</a>
    </div>
  </div>

  <div class="fb-comments" data-href="https://codeforces.mn/problemset/problem/{{ problem.code.replace("-", "/").strip() }}" data-numposts="5" data-width="100%">Сэтгэгдлүүдийг ачааллаж байна...</div>
{% endblock %}

{% block sidebar %}
  <div class="box">
    <h2>Бодолт илгээх?</h2>
    <div class="text-center">
      Codeforces.com-руу орж бодолтоо шалгана уу.
      <br>
      <a href="http://codeforces.com/problemset/problem/{{ problem.code.replace("-", "/").strip() }}" class="external">Codeforces дээрх хаяг</a>
    </div>
  </div>
{% endblock %}
