{% extends "Layout.html" %}

{# todo: set meta = "nofollow" #}
{% set sidebar = "no" %}
{% set title = problem.code.strip().replace("-", "") ~ " орчуулах" %}

{% block content %}
  <div style="border:3px solid #e1e1e1; width:49%; float:left; border-radius:7px">
    <div style="background:#e1e1e1; border-radius:4px 4px 0 0; height:30px; line-height:30px; padding:0 5px">
      <a href="javascript:;">insert link</a>
      <a href="javascript:;">insert image</a>
      <div class="" style="float:right">
        <a href="">save</a>
      </div>
    </div>

    <textarea style="font-family:Menlo, Consolas, 'Courier New', Courier, monospace; width:564px; resize:vertical; height:420px; border:0; outline:none; border-radius:7px; padding:5px">{{ problem.title }}
{{ "-" * (problem.title|length) }}

## Оролт

## Гаралт

{%- if problem.note -%}
## Тэмдэглэл
{% endif %}

-- Sugardorj</textarea>
  </div>

  <div style="border:0px solid #ddd; width: 49%; float:right; min-height: 420px; border-radius:7px" class="problem-statement">
    <h1>Valera and number</h1>

    <div>
      <p>Valera is a coder. Recently he wrote a funny program. The pseudo code for this program is given below:</p>
    </div>

    <h2>Оролт</h2>

    <h2>Гаралт</h2>

    <p class="credit">Орчуулсан: Sugardorj</p>

    <h4>Жишээ тэстүүд</h4>
    {% for sample in problem.meta.tests %}
      <div class="sample">
        <h5>Оролт</h5>
        <pre>{{ sample[0] }}</pre>
        <h5>Гаралт</h5>
        <pre>{{ sample[1] }}</pre>
      </div>
    {% endfor %}

    <div style="clear:both"></div>
  </div>
{% endblock %}
