{% extends "Layout.html" %}

{% set title = "Бодлогууд" %}
{% set menu = "problemset" %}


{% block content %}
  <h1 class="table-title">Бүх бодлогууд ({{ count_all }})</h1>
  <div class="table-container">
    <table>
      <tr>
        <th class="w05">#</th>
        <th class="border-right-none">Бодлогын нэр</th>
        <th class="w20"></th>
      </tr>
      {% for t in problems %}
        <tr {{- loop.cycle(' class="dark"', "")|safe }}>
          {% if t.credits and t.credits != "[орчуулагдаж байгаа]" %}
            {# translated #}
            <td class="text-center"><a href="{{ t.link }}">{{ t.code.replace("-", "") }}</a></td>
            <td class="border-right-none"><a href="{{ t.link }}">{{ t.title }}</a></td>
            <td class="text-right" style="color:#666; font-size:11px">{{ t.credits }}</td>
          {% elif t.credits == "[орчуулагдаж байгаа]" %}
            {# translating #}
            <td class="text-center"><a href="{{ t.link }}">{{ t.code.replace("-", "") }}</a></td>
            <td class="border-right-none">{{ t.title }}</td>
            <td class="text-right" style="color:#666; font-size:11px">{{ t.credits }}</td>
          {% else %}
            {# not yet translated #}
            <td class="text-center"><a href="{{ t.link }}">{{ t.code.replace("-", "") }}</a></td>
            <td class="border-right-none">{{ t.title }}</td>
            <td class="text-right" style="color:#666; font-size:11px"><a href="{{ t.link }}/edit">Орчуулах</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="pagination">
    <ul>
      {% set pages = (count_all + 99) // 100 %}
      {% for p in range(1, pages + 1) %}
        <li {{- ' class="active"'|safe if page == p }}><a href="/problemset/page/{{ p }}">{{ p }}</a></li>{#
      #}{% endfor %}
    </ul>
  </div>
{% endblock %}
