{% extends "Layout.html" %}

{% set title = "Бодлогууд" %}
{% set menu = "problemset" %}

{% block content %}
	<h1 class="table-title">Бүх бодлогууд</h1>
	<div class="table-container">
		<table>
			<tr>
				<th style="width:4em">#</th>
				<th>Бодлогын нэр</th>
				<th style="width:12em">Орчуулсан</th>
			</tr>
			<tr class="dark">
				<td style="text-align:center"><a href="/problemset/problem/100/A">100A</a></td>
				<td><a href="/problemset/problem/100/A">Үнэхээр урт гарчигтай бодлого</a></td>
				<td style="text-align:center;color:#666">zoloogg, sugardorj</td>
			</tr>
			<tr>
				<td style="text-align:center"><a href="/problemset/problem/32/D">32D</a></td>
				<td><a href="/problemset/problem/32/D">Lorem ipsum</a></td>
				<td style="text-align:center;color:#666"></td>
			</tr>
		</table>
	</div>

	<div class="pagination">
		<ul>
			{% for p in range(1, 18) %}
				<li {{- ' class="active"'|safe if page == p }}><a href="/problemset/page/{{ p }}">{{ p }}</a></li>{#
			#}{% endfor %}
		</ul>
	</div>
{% endblock %}
