{% extends "Layout.html" %}

{# todo: set meta = "nofollow" #}
{% set sidebar = "no" %}
{% set title = problem.code.strip().replace("-", "") ~ " орчуулах" %}

{% block content %}
  <div style="border:3px solid #e1e1e1; width:49%; float:left; border-radius:7px">
    <div style="background:#e1e1e1; border-radius:4px 4px 0 0; height:30px; line-height:30px; padding:0 5px 8px 5px" id="toolbar">
      <a href="javascript:;" onclick="javascript:focus_toggle(this);">focus mode</a>
      <div class="" style="float:right">
        <a href="">save</a>
      </div>
    </div>

    <textarea id="source" style="font-family:Menlo, Consolas, 'Courier New', Courier, monospace; width:100%; height: 520px; box-sizing:border-box; resize:vertical; border:0; outline:none; border-radius:7px; padding:5px; margin-top:-5px">
{{- "# " ~ problem.title }}

{{ problem.content }}

{{ "## Тэмдэглэл\n" ~ problem.note if problem.note else "" }}

-- {{ problem.credits or "Орчуулагчийн нэр" }}</textarea>
  </div>

  <div style="border:0px solid #ddd; width: 49%; float:right; min-height: 420px; border-radius:7px" class="problem-statement">
    <div id="preview"></div>
    <h4>Жишээ тэстүүд</h4>
    {% for sample in problem.meta.tests %}
      <div class="sample">
        <h5>Оролт</h5>
        <pre>{{ sample[0] }}</pre>
        <h5>Гаралт</h5>
        <pre>{{ sample[1] }}</pre>
      </div>
    {% endfor %}

    <p class="credit">Орчуулсан: Sugardorj</p>

    <div style="clear:both"></div>
  </div>
{% endblock %}


{% block bottom %}
  <style>
    #toolbar a {
      border: 1px solid #bbb;
      color: #666;
      text-decoration: none;
      font-size: 12px;
      padding: 3px 5px;
      background: #eee;
      border-radius: 3px;
    }
    #footer { display: none }
  </style>

  <script src="/static/markdown.js"></script>
  <script>
    focus_toggle = function(el) {
      if ($("#header").is(":visible")) {
        $('#header,#menu').toggle();
        $("#container").css("width", "100%");
        $("#content").css("margin-top", "1em");
        $(el).css("background", "#e7ffe8").css("color", "#558555");
        // $("textarea").trigger('autosize.resize');
      } else {
        $('#header,#menu').toggle();
        $("#container").css("width", "1200px");
        $("#content").css("margin-top", "2em");
        $(el).css("background", "#eee").css("color", "#666");
        // $("textarea").trigger('autosize.resize');
      }
      return false;
    }

    var source = "";

    $("#source").on("change keyup paste", function() {
        if ($("#source").val() != source) {
          source = $("#source").val();
          $("#preview").html(markdown.toHTML(source));
          MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
          // update();
        }
    });

    $(function() {
        source = $("#source").val();
        $("#preview").html(markdown.toHTML(source));
        MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
    })
  </script>
{% endblock %}
