{% extends "Layout.html" %}

{% set title = "Бодлогууд" %}
{% set menu = "problemset" %}

{% block content %}
  <h1 class="table-title">Бүх бодлогууд ({{ count_all }})</h1>
  <div class="table-container">
    <table>
      <tr>
        <th style="width:4em">#</th>
        <th style="border-right:0">Бодлогын нэр</th>
        <th style="width:16em"></th>
      </tr>
      {% for t in problems %}
        <tr {{- loop.cycle(' class="dark"', "")|safe }}>
          {% if t.credits %}
            {# translated #}
            <td style="text-align:center"><a href="{{ t.link }}">{{ t.code.replace("-", "") }}</a></td>
            <td style="border-right:0"><a href="{{ t.link }}">{{ t.title }}</a></td>
            <td style="text-align:right;color:#666;font-size:11px">{{ t.credits }}</td>
          {% else %}
            {# not yet translated #}
            <td style="text-align:center"><a href="{{ t.link }}">{{ t.code.replace("-", "") }}</a></td>
            <td style="border-right:0">{{ t.title }}</td>
            <td style="text-align:right;color:#666;font-size:11px"><a href="{{ t.link }}/edit">Орчуулах</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="pagination">
    <ul>
      {% for p in range(1, int(count / 100) + 2) %}
        <li {{- ' class="active"'|safe if int(page) == p }}><a href="/problemset/page/{{ p }}">{{ p }}</a></li>{#
      #}{% endfor %}
    </ul>
  </div>
{% endblock %}
