{% extends "Layout.html" %}

{% set title = "Чансаа" %}
{% set description = "Идэвхтэй буюу сүүлийн 180 хоногт тэмцээнд оролцсон тамирчдын чансаа" %}
{% set menu = "ratings" %}

{% block content %}
  <div style="margin:0 auto;text-align:center;padding:0 0 1.5em 0;font-size:1.25em">{{ description }}</div>
  <div style="float:left;width:49%">
    <h1 class="table-title">Codeforces чансаа</h1>
    <div class="table-container">
      <table>
        <tr>
          <th style="width:4em">#</th>
          <th>Нэр</th>
          <th style="width:5em">Чансаа</th>
          <th style="width:5em">Өөрчлөлт</th>
        </tr>
        {% for u in codeforces %}
          <tr {{- ' class="recent"'|safe if u.recent }}>
            <td style="text-align:center">{{ loop.index }}</td>
            <td>{{ cf_user(u.handle, u.rating)|safe }}</td>
            <td style="text-align:center">{{ u.rating }}</td>
            <td style="text-align:center">{{ cf_rating(u.change, u.contest_id, "center") }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div style="float:right;width:49%">
    <h1 class="table-title">Topcoder чансаа</h1>
    <div class="table-container">
      <table>
        <tr>
          <th style="width:4em">#</th>
          <th>Нэр</th>
          <th style="width:5em">Чансаа</th>
          <th style="width:5em">Өөрчлөлт</th>
        </tr>
        {% for u in topcoder %}
          <tr {{- ' class="recent"'|safe if u.recent }}>
            <td style="text-align:center">{{ loop.index }}</td>
            <td>{{ tc_user(u.handle, u.rating, u.id)|safe }}</td>
            <td style="text-align:center">{{ u.rating }}</td>
            <td style="text-align:center">{{ tc_rating(u.change, u.contest_id, u.id, "center") }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
