{% extends "Layout.html" %}

{% set title = "Шинэчлэлүүд" %}

{% block content %}
	<h1 class="table-title">Сүүлийн шинэчлэлүүд</h1>
	<div class="table-container">
		<table>
			<tr>
				<th style="width:5em">#</th>
				<th style=""></th>
				<th style="width:9em">Хянагч</th>
			</tr>
			{% for s in all_history %}
				<tr {{- loop.cycle(' class="dark"', "")|safe }}>
					<td style="text-align:center" class="{{ s[0] }}">{{ s[1] }}</td>
					<td>
						{{ s[4] }}
						<div style="float:right">-- {{ s[3] }}</div>
					</td>
					<td style="text-align:center">{{ s[2] }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
