{% extends "Layout.html" %}

{% set head = '<meta name="robots" content="noindex, nofollow">' %}
{% set title = "Орчуулгын саналууд" %}
{% set menu = "suggestion" %}


{% block content %}
  {#:1# Suggestions #}
  <h1 class="table-title">Орчуулгын саналууд ({{ suggestions.count() }})</h1>

  <div class="table-container">
    <table class="sortable-table">
      <thead>
        <tr>
          <th data-sort="string" style="width:43px">#</th>
          <th data-sort="string" style="border-right:0; text-align:left; border-right:0">Бодлогын нэр</th>
          <th data-sort="string" style="width:130px; text-align:right">Орчуулсан</th>
        </tr>
      </thead>
      <tbody>
        {% for s in suggestions %}
        <tr>
          <td class="text-center" data-sort-value="{{ s.code }}"><a href="/suggestion/{{ s.key().id() }}">{{ s.code.strip() }}</a></td>
          <td style="border-right:0" data-sort-value="{{ s.title }}">
            <a href="/suggestion/{{ s.key().id() }}">{{ s.title }}</a>
            <span style="border-right:0; text-align:right; color:#888">({{ relative(s.added.strftime("%s")) }})</span>
          </td>
          <td style="text-align:right">{{ s.credits }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3" style="text-align:center">Хүлээгдэж байгаа санал алга</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {# endfold #}

  {#:1 Last updated problems #}
  <br><br>
  <h1 class="table-title">Сүүлд шинэчлэгдсэн бодлогууд</h1>

  <div class="table-container">
    <table>
      <tr>
        <th style="width:43px">#</th>
        <th style="text-align:left; border-right:0">Бодлогын нэр</th>
        <th style="width:250px; border-right:0; text-align:left; border-right:0">Хянасан</th>
        <th style="width:130px; text-align:right">Орчуулсан</th>
      </tr>
      {% for s in submissions|reverse %}
      <tr class="recent">
        <td class="text-center"><a href="/problemset/problem/{{ s.code.strip().replace("-", "/")}}">{{ s.code.strip() }}</a></td>
        <td style="border-right:0">
          <a href="/problemset/problem/{{ s.code.strip().replace("-", "/")}}">{{ s.title }}</a>
          <span style="border-right:0; text-align:right; color:#888">({{ relative(s.created_at) }})</span>
        </td>
        <td>
          {{ s.moderator }}
          <span style="border-right:0; text-align:right; color:#888">({{ relative(s.published_at) }})</span>
        </td>
        <td style="text-align:right">{{ s.credits }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {# endfold #}
{% endblock %}


{% block sidebar %}
  <div class="box">
    <h2>Түр хүлээнэ үү</h2>
    <div style="text-align:center">
      Санал болгосон орчуулгуудыг хянагч шалгаж үзээд нийтлэх буюу татгалзаж болно.
    </div>
  </div>
  <div class="box">
    {% if session.moderator %}
      <h2>Хянагчийн булан</h2>
      <div style="text-align:center">
        <a href="/suggestion?logout">Системээс гарах</a> (logout)
      </div>
    {% else %}
      <h2>Хянагч нэвтрэх</h2>
      <div style="text-align:center">
        <form method="post" action="">
          <input type="hidden" name=":method" value="login">
          <input type="password" name="password" value="" placeholder="Нууц үг">
        </form>
        {% if login_failed %}
          <div>Нууц үг буруу</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock %}
