{% extends "Layout.html" %}

{% set head = '<meta name="robots" content="noindex, nofollow">' %}
{% set title = "Орчуулгын саналууд" %}
{% set menu = "suggestion" %}


{% block content %}
  #:1 Орчуулгын саналууд
  <h1 class="table-title">Орчуулгын саналууд ({{ suggestions.count() }})</h1>

  <div class="table-container">
    <table class="sortable-table">
      <thead>
        <tr>
          <th data-sort="string" class="w04">#</th>
          <th data-sort="string" class="border-right-none text-left">Бодлогын нэр</th>
          <th data-sort="string" class="w13 text-right">Орчуулсан</th>
        </tr>
      </thead>
      <tbody>
        {% for s in suggestions %}
          <tr {{- ' class="recent"' if not s.title.strip().startswith("* ") else '' }}>
          <td data-sort-value="{{ s.code }}" class="text-center"><a href="/suggestion/{{ s.id }}">{{ s.code }}</a></td>
          <td data-sort-value="{{ s.title }}" class="border-right-none">
            <a href="/suggestion/{{ s.id }}">{{ s.title }}</a>
            <span style="color:#888">({{ s.added|relative }})</span>
          </td>
          <td class="text-right">{{ s.credits }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3" class="text-center">Хүлээгдэж байгаа санал алга</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  #:1 Сүүлд шинэчлэгдсэн бодлогууд
  <br><br>
  <h1 class="table-title">Сүүлд шинэчлэгдсэн бодлогууд</h1>

  <div class="table-container">
    <table>
      <tr>
        <th class="w04">#</th>
        <th class="w55 text-left  border-right-none">Бодлогын нэр</th>
        <th class="text-right">Орчуулсан</th>
      </tr>
      {% for s in submissions|reverse %}
      <tr {{- ' class="recent"' if (int(now.strftime("%s")) - s.published_at < 3600 * 24) else '' }}>
        <td class="text-center"><a href="{{ s.problem_link }}">{{ s.code }}</a></td>
        <td class="border-right-none">
          <a href="{{ s.problem_link }}">{{ s.title }}</a>
          <span style="color:#888">({{ s.published_at|relative }})</span>
        </td>
        <td class="text-right">{{ s.credits }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {# endfold #}
{% endblock %}


{% block sidebar %}
  #:1 Түр хүлээнэ үү
  <div class="box">
    <h2>Түр хүлээнэ үү</h2>
    <div class="text-center">
      Санал болгосон орчуулгуудыг хянагч шалгаж үзээд нийтлэх буюу татгалзаж болно.
    </div>
  </div>

  #:1 Хянагчийн булан
  <div class="box">
    {% if session.moderator %}
      <h2>Хянагчийн булан</h2>
      <div class="text-center">
        <a href="/suggestion?logout">Системээс гарах</a> (logout)
      </div>
    {% else %}
      <h2>Хянагч нэвтрэх</h2>
      <div class="text-center">
        <form method="post">
          <input type="hidden" name=":method" value="login">
          <input type="password" name="password" value="" placeholder="Нууц үг">
        </form>
        {% if login_failed %}
          <div>Нууц үг буруу</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {# endfold #}
{% endblock %}
